<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xiaojin.splugin" version="1.0.0">
    <name>Splugin</name>
    <description>蓝牙定位终端插件</description>
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="GradleVersion" value="8.4" />
</widget>