<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="hxtBdPlugin" version="1.0.0">
    <name>hxtBdPlugin</name>
    <description>北斗定位终端 Cordova 插件</description>
    <js-module src="www/hxtBdPlugin.js" name="hxtBdPlugin">
        <clobbers target="window.plugins.hxtBdPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="hxtBdPlugin">
                <param name="android-package" value="com.xst.cordova.BlueConnectPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- 基础蓝牙权限 -->
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

            <!-- 位置权限 -->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

            <!-- 蓝牙特性声明 -->
            <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
        </config-file>

        <!-- Java 源文件路径修正 -->
        <source-file src="src/android/com/xst/cordova/BlueConnectPlugin.java" target-dir="src/android/com/xst/cordova" />
        <source-file src="src/android/com/xst/cordova/BlueCorsUtils.java" target-dir="src/android/com/xst/cordova" />

        <!-- Gradle 配置 -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>

        <!-- AAR 文件 -->
        <resource-file src="src/android/libs/blue-releasev_20241125.aar" target="libs/blue-releasev_20241125.aar" />
    </platform>
</plugin>